* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.travels {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.travels .travel {
  padding: 20px;
  border: 1px solid red;
}

